<form name="employeeForm" class="frmEmployee">
    <input type="text" ng-model="vm.newEmployee.name" class="name" placeholder="Name"required />
    <input type="number" ng-model="vm.newEmployee.idNumber" class="idNumber" placeholder="Id number" required/>
    <input type="number" ng-model="vm.newEmployee.salary" class="salary" placeholder="Salary" />
    <input type="text" ng-model="vm.newEmployee.title" class="jobTitle" placeholder="Job title" />
    <input type="date" ng-model="vm.newEmployee.hireDate" class="hireDate" placeholder="Hire Date">
    <button class="btnAddEmp" ng-click="vm.addEmployee(vm.newEmployee)">Add Employee</button>
</form>

<div class="employeeData">
    <div ng-repeat="employee in vm.addEmployee" class="employeeDataList">
        <p>
            <h5>
                <b>Name: </b>
            </h5> {{employee.name}}</p>
        <p>
            <h5>
                <b>ID Number: </b>
            </h5> {{employee.idNumber}}</p>
        <p>
            <h5>
                <b>Salary: </b>
            </h5>{{employee.salary}}</p>
        <p>
            <h5>
                <b>Job title: </b>
            </h5>{{employee.title}}</p>
        <p>
            <h5>
                <b>Hire date: </b>
            </h5>{{employee.hireDate | date}}</p>
    </div>
</div>