
<div ng-controller="ReportsController as vm">
	<h1>Reports View</h1>
	<button class="btn btn-primary" ng-click="vm.getAverageSalary()">Get the Data</button>
	<!--<p> Employee data object received back is: {{vm.employeeData}} </p>-->
	<h3> -Salary Info- </h3>
	<p>Average Salary : {{vm.salaryAverage}}</p>
	<p>Maximum:</p>
	<p>Minimum:</p>


	<p>Number of Employees: {{vm.count}}</p>

	<!-- The below div will loop on every job title and give us a count-->
	<div>
	<p>Job Title:</p>
	<p>Name of employee that have this title:</p>
	</div>


</div>


